In [29]:
import pandas as pd

In [30]:
dados = {
    'Nome': ['flamengo', 'santos', 'palmeiras','sao paulo', 'corinthians'],
    'partidas_jogadas': [10,10,10,10,10],
    'vitorias': [8,6,7,4,3] ,
    'empates': [1,2,2,3,4],
    'derrotas': [1,2,1,3,3],
    'gols_pro': [25,20,22,15,10],
    'gols_contra': [10,15,12,18,5]
}

In [31]:
df = pd.DataFrame(dados)
df

,Nome,partidas_jogadas,vitorias,empates,derrotas,gols_pro,gols_contra
0,flamengo,10,8,1,1,25,10
1,santos,10,6,2,2,20,15
2,palmeiras,10,7,2,1,22,12
3,sao paulo,10,4,3,3,15,18
4,corinthians,10,3,4,3,10,5

In [32]:
df['saldo_gols'] = df['gols_pro'] - df['gols_contra']
df

,Nome,partidas_jogadas,vitorias,empates,derrotas,gols_pro,gols_contra,saldo_gols
0,flamengo,10,8,1,1,25,10,15
1,santos,10,6,2,2,20,15,5
2,palmeiras,10,7,2,1,22,12,10
3,sao paulo,10,4,3,3,15,18,-3
4,corinthians,10,3,4,3,10,5,5

In [33]:
df['pontos'] = df['vitorias'] * 3 + df['empates'] * 1
df

,Nome,partidas_jogadas,vitorias,empates,derrotas,gols_pro,gols_contra,saldo_gols,pontos
0,flamengo,10,8,1,1,25,10,15,25
1,santos,10,6,2,2,20,15,5,20
2,palmeiras,10,7,2,1,22,12,10,23
3,sao paulo,10,4,3,3,15,18,-3,15
4,corinthians,10,3,4,3,10,5,5,13

In [34]:
df = df.sort_values(by='pontos', ascending=False)
df

,Nome,partidas_jogadas,vitorias,empates,derrotas,gols_pro,gols_contra,saldo_gols,pontos
0,flamengo,10,8,1,1,25,10,15,25
2,palmeiras,10,7,2,1,22,12,10,23
1,santos,10,6,2,2,20,15,5,20
3,sao paulo,10,4,3,3,15,18,-3,15
4,corinthians,10,3,4,3,10,5,5,13

In [35]:
df.to_excel('dados/tabela_classificacao.xlsx', index=False)